@model Category


<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Create Category</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post">

			<div class="container border">
				<div class="pt-3">
					<h3>Edit Category</h3>
					<hr />
				</div>

				<input asp-for="CategoryID" type="hidden" />

				<div class="row">
					<label asp-for="CategoryName"></label>
					<input asp-for="CategoryName" class="form-control p-0" />
					<span asp-validation-for="CategoryName" class="text-danger"></span>
				</div>
				<div class="row">
					<label asp-for="CategoryOrder"></label>
					<input asp-for="CategoryOrder" class="form-control p-0" />
					<span asp-validation-for="CategoryOrder" class="text-danger"></span>
				</div>
				<div class="row button mt-3 pb-3">
					<div class="col-6">
						<button type="submit" class="btn btn-dark form-control">Edit</button>
					</div>
					<div class="col-6">
						<a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary form-control border">Back To List</a>
					</div>
				</div>
			</div>


		</form>

	</div>



@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}


